NEXT_PUBLIC_HOST='http://localhost:3000' // change to prod ou development environment
NEXT_PUBLIC_GOOGLE_SERVICE_ACCOUNT_EMAIL='your account amil here'
NEXT_PUBLIC_GOOGLE_PRIVATE_KEY='your private key here'
NEXT_PUBLIC_GOOGLE_SHEET_ID='your sheet id here'